<h1>Page 1</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui animi similique blanditiis dolore voluptates pariatur, quidem doloremque architecto esse quis consectetur vitae nulla quos laudantium harum modi nihil tempore recusandae.</p>

<%= link_to 'Go to page 2 >', page2_path %>