<h1>Page4</h1>

<%= turbo_frame_tag 'page4-image' do %>
  <%= image_tag 'image.svg', class: 'w-52' %>
<% end %>

<%= turbo_frame_tag 'page4-text' do %>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iste repellat omnis totam voluptas eligendi mollitia corrupti nisi incidunt nihil molestiae magnam accusantium tenetur quos tempora, obcaecati dolorum beatae nostrum?</p>
<% end %>
