<h1>Page 2</h1>

<%= image_tag 'image.svg', class: 'w-52' %>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit velit saepe at accusamus delectus quas, esse sit! Dolorem, qui odio in impedit totam nisi quas, quaerat voluptates cumque pariatur aperiam!</p>

<%= link_to '< Go back to page 1', page1_path %>